body {
  font-family: "Poppins", sans-serif;
  background: white;
  background-size: 1500px;
  background-position-x: center;
}
h1 {
  color: #2c3639;
  font-size: 40px;
  text-transform: uppercase;
}
h2 {
  color: #2c3639;
  font-size: 24px;
}
footer {
  color: #2c3639;
  text-align: center;
}
a {
  color: #2c3639;
}
.app-card {
  background-color: #ffffff39;
  margin: 0 auto;
}

.c-degree {
  font-size: 40px;
  text-align: right;
  color: #3f4e4f;
}

.f-degree {
  font-size: 15px;
  text-align: right;
  color: #3f4e4f;
}

.cur-date {
  font-size: 17px;
  text-align: left;
  padding: 0 0 20px 60px;
  color: #3f4e4f;
}
.cur-temp {
  font-size: 120px;
  text-align: right;
  color: #2c3639;
}

.cur-temp-icon {
  font-size: 100px;
  text-align: right;
  float: right;
  display: inline;
}

.cur-temp-icon :hover {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.cur-precipitation,
.cur-humidity,
.cur-wind {
  color: #4b6587;
  font-size: 14px;
}
.current-location,
.search-button {
  background-color: #dcd7c9;
  border-style: none;
  box-sizing: border-box;
  color: #3f4e4f;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  margin-left: 10px;
}
.current-location {
  margin-left: 10px;
  position: relative;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.search-button {
  margin-left: 5px;
  border-radius: 8px;
}
.current-location:hover,
.current-location:focus,
.search-button:hover,
.search-button:focus {
  background-color: #3f4e4f;
  color: #dcd7c9;
}

.know-text {
  color: #3f4e4f;
  font-size: 14px;
}

.search-bar {
  border-block: 2px solid #dcd7c9;
  border-left: 0 solid #dcd7c9;
  border-right: 2px solid #dcd7c9;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.search-container {
  padding: 0;
}

.fu-day {
  color: #3f4e4f;
  font-size: 20px;
}

.fu-temp {
  color: #4b6587;
  font-size: 14px;
}

.fu-icon,
.wear-icon,
.cur-temp-icon {
  color: #4b6587;
  filter: drop-shadow(16px 16px 20px rgba(255, 255, 255, 0.308));
}

.fu-icon {
  font-size: 25px;
}

.wear-icon {
  font-size: 35px;
}
.unit-button {
  cursor: pointer;
  color: #3f4e4f;
  background-color: #ffffff39;
  border-radius: 107px 107px 107px 107px;
  border: 0px solid #ffffff39;
  position: relative;
}
.unit-button:hover {
  border-radius: 107px 107px 107px 107px;
  border: 0px solid #3f4e4f;
  color: #dcd7c9;
  background-color: #3f4e4f;
  transition: all 0.3s ease-in-out;
}
