body {
  font-family: "Poppins", sans-serif;
  background: white;
  background-size: auto cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (min-width: 992px) {
  body {
    background-size: 1400px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

h1,
h2,
.cur-date {
  color: #3f4e4f;
}

h1 {
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 15px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

footer,
a {
  color: #2c3639;
  text-align: center;
}
footer.dark-mode,
a.dark-mode {
  color: #fff;
}

.app-card {
  margin: 30px auto 30px;
  max-width: 600px;
  background: #fff8ea69;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(100, 92, 50, 0.08);
}

.active-unit {
  color: #3f4e4f;
  font-size: 40px;
  text-align: right;
}

.cur-date {
  font-size: 16px;
  text-align: left;
  padding: 0 0 20px 60px;
}

.cur-temp {
  font-size: 110px;
  text-align: right;
  color: #3f4e4f;
  padding-top: 30px;
}

.cur-temp-icon {
  position: relative;
  top: 30px;
  right: 50px;
  display: inline;
  width: 120px;
}

.cur-humidity,
.cur-wind,
.fu-temp {
  color: #4b6587;
  font-size: 16px;
}

.dark-mode {
  color: #ada6a4;
}

h1.dark-mode,
h2.dark-mode,
.cur-temp.dark-mode {
  color: #ded7d3;
}

.app-card.dark-mode {
  background-color: #3f4144d7;
}

.current-location,
.search-button {
  background-color: #dcd7c9;
  border-style: none;
  box-sizing: border-box;
  color: #3f4e4f;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  margin-left: 10px;
}
.current-location {
  margin-left: 10px;
  position: relative;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.search-button {
  margin-left: 5px;
  border-radius: 8px;
}
.current-location:hover,
.current-location:focus,
.search-button:hover,
.search-button:focus {
  background-color: #3f4e4f;
  color: #dcd7c9;
}
.current-location.dark-mode:hover,
.search-button.dark-mode:hover {
  background-color: #5b5d60;
  color: #dcd7c9;
}

.know-text {
  color: #3f4e4f;
  font-size: 16px;
}

.search-bar {
  border-block: 2px solid #dcd7c9;
  border-left: 0 solid #dcd7c9;
  border-right: 2px solid #dcd7c9;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.search-container {
  padding: 0;
}

.fu-day {
  color: #3f4e4f;
  font-size: 25px;
}
.know-text.dark-mode,
.fu-day.dark-mode,
.active-unit.dark-mode {
  color: #827d7b;
}
.fu-temp {
  font-size: 14px;
  position: relative;
  top: -10px;
  display: inline;
}

.fu-icon,
.cur-temp-icon {
  filter: drop-shadow(10px 10px 20px rgba(255, 255, 255, 0.308));
}

.fu-icon {
  font-size: 25px;
}

.unit-button {
  cursor: pointer;
  color: #3f4e4f;
  background-color: #ffffff00;
  border-radius: 107px 107px 107px 107px;
  border: 0px solid #ffffff00;
  position: relative;
  font-size: 15px;
  text-align: right;
}
.unit-button:hover {
  border-radius: 107px 107px 107px 107px;
  border: 0px solid #3f4e4f;
  color: #dcd7c9;
  background-color: #3f4e4f;
  transition: all 0.3s ease-in-out;
}
.unit-button.dark-mode {
  color: #827d7b;
  background-color: #3f41440f;
}
.unit-button.dark-mode:hover {
  color: #827d7b;
  background-color: #ded7d3;
}
